@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$margin-default: 2rem;
$color-main: #58048d;
$color-accent-dark: #0e0a48;
$color-accent-light: #00aeef;

body {
  background-color: hsl(200, 33%, 96%);
  font-family: "Noto Sans JP", sans-serif;
}

.light {
  color: hsl(200, 33%, 96%);
}

.dark {
  color: $color-main;
}

.hide {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  position: relative;
  visibility: hidden;

  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 1em;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
  }
}


header {
  z-index: 9998;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: black;
  background-color: #b0bec5;
  padding: 1.25rem $margin-default;

  .logo {
    display: flex;
    align-items: center;

    h1 {
      font-family: 'Lobster', cursive;
      font-size: 2.25em;
      margin: 0;
      padding-left: .5em;
      color: $color-main;
    }

    img {
      height: 4em;
    }
  }

  nav {
    display: flex;

    .contact {
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    a {
      flex-grow: 1;
      margin: 0 0.5em;
      color: inherit;
      text-decoration: inherit;
      align-self: center;

      &:hover {
        text-decoration: underline;
      }

      strong {
        font-weight: bold;
        font-size: 1.1em;
      }
    }

    img {
      margin-left: 1em;
      height: 3.5em;
    }
  }
}

.hero {
  width: 100%;
  height: 100%;
  padding-top: 100px;

  img {
    z-index: -1;
    width: 100%;
    max-height: 900px;
    background-color: #344047;
  }

  .controls {
    color: white;
    font-size: 3em;;
    position: relative;
    top: -25rem;
    text-align: center;
    padding: 0 1rem;

    
  }
}



.section {
  padding: 0 $margin-default;

  &.color {
    padding: 6rem 0;
    background-color: $color-main;

    article {
      margin: 0 auto;

      h2 {
        color: white;
      }
    }
  }
  

  &#about-us img {
    width: 100%;
    box-shadow: 2px 4px 4px gray;
    margin-bottom: 1em;
  }

  article {
    max-width: 1200px;
    margin: 6rem auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h2 {
      margin-top: 0;
      width: 375px;
      font-size: 3.5rem;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 4rem;
      font-size: 2rem;
    }

    p {
      line-height: 2em;
    }

    .content {
      width: 500px;
      margin: 0 $margin-default;

      form {
        display: flex;
        flex-direction: column;

        input, textarea {
          border: none;
          margin-bottom: 1em;
          padding: .5em;
          border: .25em solid $color-main;
        }

        .attachments, button {
          border: .25em solid $color-main;
          margin-bottom: 1em;
          padding: .5em;
          text-align: center;
          background-color: white;
          color: $color-main;
          font-weight: bold;
          cursor: pointer;

          &:disabled {
            cursor: not-allowed;
            background-color: lightgrey;
          }
        }

        .g-recaptcha {
          margin-bottom: 1em;
          border: .25em solid $color-main;
        }

        .error {
          color: white;
          background-color: red;
          text-align: center;
          border: .25em solid $color-main;
          padding: .25em;
        }

        .success {
          color: $color-main;
          background-color: white;
          text-align: center;
          border: .25em solid $color-main;
          padding: .25em;
        }
      }

      &.columns {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .column {
          margin: 0 $margin-default;
          max-width: 300px;
        }


        .icon {
          margin: 0 0 $margin-default 0;
          background-color: #D6E5EA;
          padding: 25px;
          height: 150px;
          width: 150px;
          border-radius: 150px;

          img {
            width: 100%;
          }
        }
      }

      &.demo-videos {
        .column {
          height: 300px;
          width: 300px;
          box-shadow: 2px 4px 4px gray;
          overflow: hidden;
          position: relative;

          button {
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 100%;
            font-size: 3rem;
            background-color: rgba(50, 50, 50, .5);
            color: white;
            border: 0;
            padding: 0;

            &:hover {
              background-color: rgba(50, 50, 50, .75);
            }
          }

          &#demo-button-1 {
            background-image: url('https://s3.wasabisys.com/media.fwslift.com/assets/img/demo1.png');
          }
          &#demo-button-2 {
            background-image: url('https://s3.wasabisys.com/media.fwslift.com/assets/img/demo2.png');
          }
          &#demo-button-3 {
            background-image: url('https://s3.wasabisys.com/media.fwslift.com/assets/img/demo3.png');
          }
        }
      }
    }
  }
}



.slideshow {
  background-color: $color-main;

  article {
    height: 600px;

    .slide {
      display: none;
  
      &.active {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        -webkit-animation: fadeIn ease 3s;
                animation: fadeIn ease 3s;
      }
  
      .image {
        height: 100%;
        width: 300px;
        background-position: center;
      }

      h2 {
        font-size: 3rem;
        color: $color-main;
        background-color: white;
        position: relative;
        padding: .5em 1em;

        -webkit-clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
        clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
      }

      .content {
        width: 300px;
        padding-right: $margin-default;

        p {
          font-size: 1.5em;
          line-height: 2em;
          font-weight: bold;
        }

        hr {
          border: 1px solid white;
          margin: $margin-default 0;
        }

        em {
          color: white;
        }
      }
    }
  }

  .controls {
    display: flex;
    justify-content: center;
    position: relative;
    top: -3em;
    height: 3em;
    width: 100%;
    margin: 0 auto;

    button {
      color: white;
      border: none;
      background-color: transparent;
      font-size: 1.5em;
      padding: 0 .5em;

      &:hover {
        cursor: pointer;
      }
    }
  }
}


.photo {
  min-height: 500px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10em;

  .testimonial {
    display: none;
    max-width: 1000px;
    margin: 0 auto;

    &.active {
      display: block;
      -webkit-animation: fadeIn ease 5s;
              animation: fadeIn ease 5s;
    }

    q {
      color: white;
      font-size: 2.5em;
      line-height: 1.25em;
      text-align: center;
      font-style: italic;
    }
  
    figcaption {
      margin-top: 2em;
      font-size: 1.25em;
      color: white;
      text-align: right;
    }
  }
}

footer {
  padding: .75rem;
  background-color: #344047;
  color: white;

  .content {
    display: flex;
    justify-content: space-between;

    a {
      margin-left: 1rem;
      text-decoration: none;
      color: white;
    }
  }

  .ratings {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    img {
      align-self: center;
      max-height: 8em;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .6);

  .content {
    margin: 5em auto;
    background-color: #242627;
    padding: .5em;
    border: 1px solid #888;
    max-width: 80%;
    max-height: 80%;
    display: flex;
    position: relative;

    .close {
      color: rgb(209, 209, 209);
      width: 100%;
      font-size: 1.5em;
      cursor: pointer;
      position: absolute;
      right: 0.5em;
      text-align: right;
    }

    .demo-video {
      width: 100%;
      height: auto;
      display: none;
    }
  }
}


@media screen and (max-width: 480px) {
  .hide-mobile {
    display: none;
  }

  h1 {
    font-size: 1.5em;
  }

  header {
    height: 75px;
    padding: 0.75rem 1rem;

    nav {
      a {
        margin: 0 0.25em;

        strong {
          font-size: .75em;
        }
      }
    }
  }

  .hero {
    padding-top: 75px;
  }

  .section {
    article {
      margin: 2rem 0;

      h2 {
        font-size: 2rem;
      }

      .content {
        margin: 0;
        width: 100%;

        h3 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }

        &.columns {
          .column {
            margin: 0 0 .5em 0;
          }
        }
      }
    }
  }

  .photo {
    min-height: 300px;
    padding: 0 .5em;

    .testimonial {

      q {
        font-size: 1em;
        line-height: 1em;
      }

      figcaption {
        font-size: .75em;
        margin-top: 1em;
      }
    }
  }
}



