@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
  background-color: #f1f6f8;
  font-family: "Noto Sans JP", sans-serif;
}

.light {
  color: #f1f6f8;
}

.dark {
  color: #58048d;
}

.hide {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  visibility: hidden;
}

.spinner:before {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 1em;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  -webkit-animation: spinner .6s linear infinite;
          animation: spinner .6s linear infinite;
}

header {
  z-index: 9998;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  background-color: #b0bec5;
  padding: 1.25rem 2rem;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.25em;
  margin: 0;
  padding-left: .5em;
  color: #58048d;
}

header .logo img {
  height: 4em;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .contact {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0.5em;
  color: inherit;
  text-decoration: inherit;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a strong {
  font-weight: bold;
  font-size: 1.1em;
}

header nav img {
  margin-left: 1em;
  height: 3.5em;
}

.hero {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.hero img {
  z-index: -1;
  width: 100%;
  max-height: 900px;
  background-color: #344047;
}

.hero .controls {
  color: white;
  font-size: 3em;
  position: relative;
  top: -25rem;
  text-align: center;
  padding: 0 1rem;
}

.section {
  padding: 0 2rem;
}

.section.color {
  padding: 6rem 0;
  background-color: #58048d;
}

.section.color article {
  margin: 0 auto;
}

.section.color article h2 {
  color: white;
}

.section#about-us img {
  width: 100%;
  -webkit-box-shadow: 2px 4px 4px gray;
          box-shadow: 2px 4px 4px gray;
  margin-bottom: 1em;
}

.section article {
  max-width: 1200px;
  margin: 6rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section article h2 {
  margin-top: 0;
  width: 375px;
  font-size: 3.5rem;
}

.section article h3 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 2rem;
}

.section article p {
  line-height: 2em;
}

.section article .content {
  width: 500px;
  margin: 0 2rem;
}

.section article .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section article .content form input, .section article .content form textarea {
  border: none;
  margin-bottom: 1em;
  padding: .5em;
  border: 0.25em solid #58048d;
}

.section article .content form .attachments, .section article .content form button {
  border: 0.25em solid #58048d;
  margin-bottom: 1em;
  padding: .5em;
  text-align: center;
  background-color: white;
  color: #58048d;
  font-weight: bold;
  cursor: pointer;
}

.section article .content form .attachments:disabled, .section article .content form button:disabled {
  cursor: not-allowed;
  background-color: lightgrey;
}

.section article .content form .g-recaptcha {
  margin-bottom: 1em;
  border: 0.25em solid #58048d;
}

.section article .content form .error {
  color: white;
  background-color: red;
  text-align: center;
  border: 0.25em solid #58048d;
  padding: .25em;
}

.section article .content form .success {
  color: #58048d;
  background-color: white;
  text-align: center;
  border: 0.25em solid #58048d;
  padding: .25em;
}

.section article .content.columns {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section article .content.columns .column {
  margin: 0 2rem;
  max-width: 300px;
}

.section article .content.columns .icon {
  margin: 0 0 2rem 0;
  background-color: #D6E5EA;
  padding: 25px;
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.section article .content.columns .icon img {
  width: 100%;
}

.section article .content.demo-videos .column {
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 2px 4px 4px gray;
          box-shadow: 2px 4px 4px gray;
  overflow: hidden;
  position: relative;
}

.section article .content.demo-videos .column button {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
  border: 0;
  padding: 0;
}

.section article .content.demo-videos .column button:hover {
  background-color: rgba(50, 50, 50, 0.75);
}

.section article .content.demo-videos .column#demo-button-1 {
  background-image: url("https://s3.wasabisys.com/media.fwslift.com/assets/img/demo1.png");
}

.section article .content.demo-videos .column#demo-button-2 {
  background-image: url("https://s3.wasabisys.com/media.fwslift.com/assets/img/demo2.png");
}

.section article .content.demo-videos .column#demo-button-3 {
  background-image: url("https://s3.wasabisys.com/media.fwslift.com/assets/img/demo3.png");
}

.slideshow {
  background-color: #58048d;
}

.slideshow article {
  height: 600px;
}

.slideshow article .slide {
  display: none;
}

.slideshow article .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-animation: fadeIn ease 3s;
  animation: fadeIn ease 3s;
}

.slideshow article .slide .image {
  height: 100%;
  width: 300px;
  background-position: center;
}

.slideshow article .slide h2 {
  font-size: 3rem;
  color: #58048d;
  background-color: white;
  position: relative;
  padding: .5em 1em;
  -webkit-clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}

.slideshow article .slide .content {
  width: 300px;
  padding-right: 2rem;
}

.slideshow article .slide .content p {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold;
}

.slideshow article .slide .content hr {
  border: 1px solid white;
  margin: 2rem 0;
}

.slideshow article .slide .content em {
  color: white;
}

.slideshow .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -3em;
  height: 3em;
  width: 100%;
  margin: 0 auto;
}

.slideshow .controls button {
  color: white;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  padding: 0 .5em;
}

.slideshow .controls button:hover {
  cursor: pointer;
}

.photo {
  min-height: 500px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10em;
}

.photo .testimonial {
  display: none;
  max-width: 1000px;
  margin: 0 auto;
}

.photo .testimonial.active {
  display: block;
  -webkit-animation: fadeIn ease 5s;
  animation: fadeIn ease 5s;
}

.photo .testimonial q {
  color: white;
  font-size: 2.5em;
  line-height: 1.25em;
  text-align: center;
  font-style: italic;
}

.photo .testimonial figcaption {
  margin-top: 2em;
  font-size: 1.25em;
  color: white;
  text-align: right;
}

footer {
  padding: .75rem;
  background-color: #344047;
  color: white;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .content a {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}

footer .ratings {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .ratings img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-height: 8em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .content {
  margin: 5em auto;
  background-color: #242627;
  padding: .5em;
  border: 1px solid #888;
  max-width: 80%;
  max-height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.modal .content .close {
  color: #d1d1d1;
  width: 100%;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  right: 0.5em;
  text-align: right;
}

.modal .content .demo-video {
  width: 100%;
  height: auto;
  display: none;
}

@media screen and (max-width: 480px) {
  .hide-mobile {
    display: none;
  }
  h1 {
    font-size: 1.5em;
  }
  header {
    height: 75px;
    padding: 0.75rem 1rem;
  }
  header nav a {
    margin: 0 0.25em;
  }
  header nav a strong {
    font-size: .75em;
  }
  .hero {
    padding-top: 75px;
  }
  .section article {
    margin: 2rem 0;
  }
  .section article h2 {
    font-size: 2rem;
  }
  .section article .content {
    margin: 0;
    width: 100%;
  }
  .section article .content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .section article .content.columns .column {
    margin: 0 0 .5em 0;
  }
  .photo {
    min-height: 300px;
    padding: 0 .5em;
  }
  .photo .testimonial q {
    font-size: 1em;
    line-height: 1em;
  }
  .photo .testimonial figcaption {
    font-size: .75em;
    margin-top: 1em;
  }
}
/*# sourceMappingURL=style.css.map */